---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">Stuff</h1>
  </header>
  Some of the books and papers I have collected. Obtained completely legally. Fuck you I am lying.<hr>
{% for file in site.static_files %}
{% if file.path contains 'book-journals' %}
	<a href="{{file.path}}">{{file.name}}</a><br>
{% endif %}
{% endfor %}
</article>
